{% extends "base_generic.html" %}

{% block content %}
  <h1>Teaching Empathy Home</h1>
  <p>Welcome to Teaching Empathy, a website developed by <em>Team Teaching Empathy</em>!</p>
  <h2>Dynamic content</h2>
  <p>Teaching Empathy has the following record counts:</p>
  <ul>
    <li><strong>Users:</strong> {{ num_users }}</li>
    <li><strong>Topics:</strong> {{ num_topics }}</li>
    <li><strong>Male Users:</strong> {{ num_males }}</li>
    <li><strong>Female Users:</strong> {{ num_females }}</li>
  </ul>
{% endblock %}

{% block loginlink %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <p><a href="{% url 'notifications' %}">View Notifications</a></p>
  <p><a href="{% url 'profile' %}">Profile</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  or
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}