{% extends "base_generic.html" %}

{% block content %}
  <head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  </head>
  <body>

  <h1>Your Notifications</h1>

  <p>
<ul>
    {% for notification in notification_dicts %}
  <li>{{notification.notification_str}} Go to the <a href="{% url 'conversation' notification.match_id %}">conversation.</a></li>
    <br>
                          {% empty %}
                    <p>You have no notifications.</p>

    {% endfor %}
</ul>
  </p>

  </body>
{% endblock %}