{% extends "base_generic.html" %}

{% block content %}
  <head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  </head>
  <body>

  <h1>Your Notifications</h1>

  <h2> Your Matches</h2>

  <table>
    <tr>
      <th>User You Matched With</th>
      <th>Topics</th>
      <th>Time of Match</th>
    </tr>
    <tr>
      <td>Fill in With User</td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>Affirmative Action</td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>Education</td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>Healthcare</td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>Immigration</td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </table>

  </body>
{% endblock %}